<div class="widget tag">
	<h3 class="title">友情链接</h3>
	<ul class="entry">
		<li>
			<a href="http://zipperary.com/" title="Zippera's Blog">Zippera</a>
		</li>
		<li>
			<a href="http://blog.csdn.net/leehong2005" title="leehong2005's Blog">leehong2005</a>
		</li>
		<li>
			<a href="http://blog.csdn.net/woyaowenzi" title="woyaowenzi's Blog">woyaowenzi</a>
		</li>
		<li>
			<a href="http://www.hongtaozhy.com/" title="hongtaozhy's Blog">hongtaozhy</a>
		</li>
		<li>
			<a href="http://huangliangjie.gitcafe.com/" title="huangliangjie's Blog">huangliangjie</a>
		</li>
	</ul>
</div>